img {
    image-rendering: pixelated;
}

* {
    margin: 0;
    padding: 0;
}

#container {
    width: 100vw;
    height: 100vh;

    background: #323232;
}

#main-game {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

#stuff {
    width: 30%;
    height: 100%;

    border-right: 3px solid #161616;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#backpack {
    width: 90%;
    height: 56px;

    background: #242424;
    border: 6px solid #161616;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#backpack-content {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 8px;
}

.backpack-slot {
    width: 64px;
    height: 64px;

    display: none;

    border: 6px solid #161616;
    transition: 200ms;
}

.backpack-slot:hover {
    border: 6px solid #080808;
}

#game-container {
    width: 70%;
    height: 100%;

    background: #242424;
    border-left: 3px solid #161616;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

#shop {
    position: absolute;
    width: 50%;
    height: 80%;

    background: #323232;
    border: 6px solid #161616;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#shop-categories {
    width: 90%;
    height: 10%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#shop-categories > button {
    width: 30%;
    height: 80%;

    background: #242424;
    border: 6px solid #161616;
    color: white;
    font-weight: bold;
    font-size: 32px;
    transition: 200ms;
}

#shop-categories > button:hover {
    cursor: pointer;
}

#shop-items {
    width: 90%;
    height: 70%;

    overflow-y: scroll;
}

.shop-item {
    width: 90%;
    height: 256px;

    background: #202020;
    border: 6px solid #161616;

    display: flex;
    flex-direction: row;
    justify-self: center;
    margin: 16px;
}

.shop-item button {
    width: 90%;
    height: 25%;

    background: #202020;
    border: 6px solid #161616;
    color: white;
    font-weight: bold;
    font-size: 32px;
    transition: 200ms;
}

.shop-item button:hover {
    cursor: pointer;
    background: #646464;
}

.shop-item-details {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-item-description {
    width: 100%;
    height: 50%;
}

.shop-item-description p {
    align-self: flex-start
}

#game {
    width: 95%;
    height: 95%;

    border: 6px solid #161616;
}

p {
    font-family: "Roboto";
    font-weight: bold;
    color: white;
}

.big-header {
    font-size: 48px;
    margin: 16px;
}

.medium-header {
    font-size: 32px;
    margin: 8px;
}